In [3]:
import findspark

In [4]:
import pyspark
from pyspark.sql import functions as f

In [5]:
findspark.init()
findspark.find()

'C:\\Spark\\spark-3.0.1-bin-hadoop2.7'

In [183]:
df=spark.read.csv("D:\Trim 4\Data Visualisation\P1-UK-Bank-Customers-Chapter 4.csv",inferSchema= True,header=True)

In [40]:
df.printSchema()

root
 |-- Customer ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Surname: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- JobClassification: string (nullable = true)
 |-- DateJoined: string (nullable = true)
 |-- Balance: double (nullable = true)
 |-- Date: string (nullable = true)

In [114]:
from pyspark.sql.types import *
df = df.withColumn("Date",df.Date.cast(DateType()))

In [115]:
df.dtypes

[('Customer ID', 'int'),
 ('Name', 'string'),
 ('Surname', 'string'),
 ('Gender', 'string'),
 ('Age', 'int'),
 ('Region', 'string'),
 ('JobClassification', 'string'),
 ('DateJoined', 'string'),
 ('Balance', 'double'),
 ('Date', 'date')]

In [116]:
df.show()

+-----------+---------+---------+------+---+----------------+-----------------+----------+---------+----------+
|Customer ID|     Name|  Surname|Gender|Age|          Region|JobClassification|DateJoined|  Balance|      Date|
+-----------+---------+---------+------+---+----------------+-----------------+----------+---------+----------+
|  100000001|    Simon|    Walsh|  Male| 21|         England|     White Collar| 05.Jan.15|113810.15|2021-01-01|
|  400000002|  Jasmine|   Miller|Female| 34|Northern Ireland|      Blue Collar| 06.Jan.15| 36919.73|2021-01-01|
|  100000003|     Liam|    Brown|  Male| 46|         England|     White Collar| 07.Jan.15|101536.83|2021-01-01|
|  300000004|   Trevor|     Parr|  Male| 32|           Wales|     White Collar| 08.Jan.15|  1421.52|2021-01-01|
|  100000005|  Deirdre|  Pullman|Female| 38|         England|      Blue Collar| 09.Jan.15| 35639.79|2021-01-01|
|  300000006|      Ava|  Coleman|Female| 30|           Wales|      Blue Collar| 09.Jan.15|122443.77|2021-01-01|
|  100000007|  Dorothy|  Thomson|Female| 34|         England|      Blue Collar| 11.Jan.15| 42879.84|2021-01-01|
|  200000008|     Lisa|     Knox|Female| 48|        Scotland|            Other| 11.Jan.15| 36680.17|2021-01-01|
|  300000009|     Ruth| Campbell|Female| 33|           Wales|     White Collar| 11.Jan.15| 74284.35|2021-01-01|
|  100000010|  Dominic|     Parr|  Male| 42|         England|     White Collar| 12.Jan.15| 10912.45|2021-01-01|
|  100000011|  Dominic|    Lewis|  Male| 40|         England|     White Collar| 12.Jan.15| 39667.83|2021-01-01|
|  100000012| Benjamin|    Grant|  Male| 39|         England|     White Collar| 12.Jan.15| 32281.62|2021-01-01|
|  100000013|     Ryan|MacDonald|  Male| 24|         England|     White Collar| 12.Jan.15| 40781.63|2021-01-01|
|  200000014|   Thomas| Lawrence|  Male| 46|        Scotland|            Other| 12.Jan.15| 48791.46|2021-01-01|
|  300000015|Madeleine| Marshall|Female| 36|           Wales|            Other| 12.Jan.15|  2846.03|2021-01-01|
|  100000016| Nicholas|   Newman|  Male| 42|         England|     White Collar| 14.Jan.15|  2116.85|2021-01-01|
|  200000017|    Grace|     Hill|Female| 31|        Scotland|            Other| 14.Jan.15| 10356.31|2021-01-01|
|  200000018| Samantha|  Coleman|Female| 42|        Scotland|            Other| 14.Jan.15|  3801.69|2021-01-01|
|  100000019|  William|     Ince|  Male| 40|         England|      Blue Collar| 15.Jan.15| 65534.69|2021-01-01|
|  100000020|   Audrey|    Jones|Female| 46|         England|      Blue Collar| 15.Jan.15| 11462.64|2021-01-01|
+-----------+---------+---------+------+---+----------------+-----------------+----------+---------+----------+
only showing top 20 rows

In [42]:
df.columns

['Customer ID',
 'Name',
 'Surname',
 'Gender',
 'Age',
 'Region',
 'JobClassification',
 'DateJoined',
 'Balance',
 'Date']

In [43]:
df.count()

4014

In [44]:
df.describe('Age').show()

+-------+------------------+
|summary|               Age|
+-------+------------------+
|  count|              4014|
|   mean|38.611111111111114|
| stddev| 9.819120984901543|
|    min|                15|
|    max|                64|
+-------+------------------+

In [45]:
df.select('Name','Age','Balance').show()

+---------+---+---------+
|     Name|Age|  Balance|
+---------+---+---------+
|    Simon| 21|113810.15|
|  Jasmine| 34| 36919.73|
|     Liam| 46|101536.83|
|   Trevor| 32|  1421.52|
|  Deirdre| 38| 35639.79|
|      Ava| 30|122443.77|
|  Dorothy| 34| 42879.84|
|     Lisa| 48| 36680.17|
|     Ruth| 33| 74284.35|
|  Dominic| 42| 10912.45|
|  Dominic| 40| 39667.83|
| Benjamin| 39| 32281.62|
|     Ryan| 24| 40781.63|
|   Thomas| 46| 48791.46|
|Madeleine| 36|  2846.03|
| Nicholas| 42|  2116.85|
|    Grace| 31| 10356.31|
| Samantha| 42|  3801.69|
|  William| 40| 65534.69|
|   Audrey| 46| 11462.64|
+---------+---+---------+
only showing top 20 rows

In [46]:
df.select('Region').distinct().show()

+----------------+
|          Region|
+----------------+
|           Wales|
|         England|
|        Scotland|
|Northern Ireland|
+----------------+

In [47]:
df.select('JobClassification').distinct().show()

+-----------------+
|JobClassification|
+-----------------+
|      Blue Collar|
|            Other|
|     White Collar|
+-----------------+

In [48]:
df.select('Region','JobClassification').distinct().show()

+----------------+-----------------+
|          Region|JobClassification|
+----------------+-----------------+
|         England|      Blue Collar|
|        Scotland|      Blue Collar|
|         England|     White Collar|
|        Scotland|            Other|
|           Wales|      Blue Collar|
|         England|            Other|
|Northern Ireland|            Other|
|Northern Ireland|     White Collar|
|           Wales|            Other|
|Northern Ireland|      Blue Collar|
|           Wales|     White Collar|
|        Scotland|     White Collar|
+----------------+-----------------+

In [49]:
df.filter(df.Region =='England').show()

+-----------+--------+---------+------+---+-------+-----------------+----------+---------+----------+
|Customer ID|    Name|  Surname|Gender|Age| Region|JobClassification|DateJoined|  Balance|      Date|
+-----------+--------+---------+------+---+-------+-----------------+----------+---------+----------+
|  100000001|   Simon|    Walsh|  Male| 21|England|     White Collar| 05.Jan.15|113810.15|2021-01-01|
|  100000003|    Liam|    Brown|  Male| 46|England|     White Collar| 07.Jan.15|101536.83|2021-01-01|
|  100000005| Deirdre|  Pullman|Female| 38|England|      Blue Collar| 09.Jan.15| 35639.79|2021-01-01|
|  100000007| Dorothy|  Thomson|Female| 34|England|      Blue Collar| 11.Jan.15| 42879.84|2021-01-01|
|  100000010| Dominic|     Parr|  Male| 42|England|     White Collar| 12.Jan.15| 10912.45|2021-01-01|
|  100000011| Dominic|    Lewis|  Male| 40|England|     White Collar| 12.Jan.15| 39667.83|2021-01-01|
|  100000012|Benjamin|    Grant|  Male| 39|England|     White Collar| 12.Jan.15| 32281.62|2021-01-01|
|  100000013|    Ryan|MacDonald|  Male| 24|England|     White Collar| 12.Jan.15| 40781.63|2021-01-01|
|  100000016|Nicholas|   Newman|  Male| 42|England|     White Collar| 14.Jan.15|  2116.85|2021-01-01|
|  100000019| William|     Ince|  Male| 40|England|      Blue Collar| 15.Jan.15| 65534.69|2021-01-01|
|  100000020|  Audrey|    Jones|Female| 46|England|      Blue Collar| 15.Jan.15| 11462.64|2021-01-01|
|  100000025|Jennifer|   Hughes|Female| 38|England|     White Collar| 20.Jan.15| 20505.32|2021-01-01|
|  100000028|  Alison|   Fisher|Female| 33|England|     White Collar| 25.Jan.15|  3428.56|2021-01-01|
|  100000030|    Luke|  Wilkins|  Male| 42|England|     White Collar| 27.Jan.15| 10813.83|2021-01-01|
|  100000031|   Megan|     Bell|Female| 25|England|     White Collar| 28.Jan.15| 38889.76|2021-01-01|
|  100000034|    Jake|   Wilson|  Male| 26|England|            Other| 30.Jan.15|  5833.62|2021-01-01|
|  100000035|   Karen|     Dyer|Female| 34|England|      Blue Collar| 31.Jan.15| 77809.59|2021-01-01|
|  100000036|  Yvonne|  Thomson|Female| 36|England|     White Collar| 31.Jan.15| 31680.67|2021-01-01|
|  100000037|  Sophie|     Gill|Female| 33|England|     White Collar| 31.Jan.15| 20504.37|2021-01-01|
|  100000038|  Robert|  Cornish|  Male| 31|England|            Other| 31.Jan.15|  5688.36|2021-01-01|
+-----------+--------+---------+------+---+-------+-----------------+----------+---------+----------+
only showing top 20 rows

In [50]:
df.filter(df.Region =='England').count()

2159

In [186]:
df.orderBy(df.Balance).show()

+----------+---------+---------+------+---+----------------+-----------------+----------+-------+----------+
|CustomerID|     Name|  Surname|Gender|Age|          Region|JobClassification|DateJoined|Balance|      Date|
+----------+---------+---------+------+---+----------------+-----------------+----------+-------+----------+
| 100001320|     Jane|     King|Female| 38|         England|     White Collar| 22.Jul.15|  11.52|2021-01-01|
| 400000075|   Olivia|     Dowd|Female| 30|Northern Ireland|     White Collar| 12.Feb.15|  21.03|2021-01-01|
| 200000775|   Warren|  Roberts|  Male| 37|        Scotland|      Blue Collar| 01.Jun.15|  69.01|2021-01-01|
| 400002046|    Megan|     Hart|Female| 19|Northern Ireland|      Blue Collar| 13.Sep.15|  69.78|2021-01-01|
| 300003468|  Stewart| Johnston|  Male| 41|           Wales|      Blue Collar| 30.Nov.15|  77.46|2021-01-01|
| 300003497|  Rebecca|   Howard|Female| 30|           Wales|      Blue Collar| 02.Dec.15|  96.26|2021-01-01|
| 100003885|  Abigail|    Mills|Female| 29|         England|     White Collar| 23.Dec.15|  98.68|2021-01-01|
| 100001419|  Lillian|   Mathis|Female| 43|         England|     White Collar| 28.Jul.15| 114.69|2021-01-01|
| 400002278|    Pippa|     Ball|Female| 33|Northern Ireland|            Other| 24.Sep.15| 133.75|2021-01-01|
| 100002735|    Chloe|     Gill|Female| 27|         England|      Blue Collar| 22.Oct.15| 134.94|2021-01-01|
| 100000297|   Sophie|  Thomson|Female| 33|         England|     White Collar| 23.Apr.15| 152.91|2021-01-01|
| 100003882|   Lauren|   Slater|Female| 35|         England|      Blue Collar| 23.Dec.15| 168.18|2021-01-01|
| 200003843|    Colin|Mackenzie|  Male| 39|        Scotland|      Blue Collar| 20.Dec.15| 177.28|2021-01-01|
| 200004013|Christian|     Reid|  Male| 51|        Scotland|      Blue Collar| 30.Dec.15| 239.45|2021-01-01|
| 200001282|     Matt|   Watson|  Male| 44|        Scotland|     White Collar| 20.Jul.15| 242.49|2021-01-01|
| 100000080|    David|   Peters|  Male| 34|         England|     White Collar| 16.Mar.15| 245.46|2021-01-01|
| 100003558|      Sam|    Poole|  Male| 34|         England|     White Collar| 05.Dec.15| 251.67|2021-01-01|
| 100002750|     Carl|   Fisher|  Male| 38|         England|     White Collar| 23.Oct.15| 267.38|2021-01-01|
| 100003397|    Bella|  Ellison|Female| 30|         England|     White Collar| 27.Nov.15| 279.01|2021-01-01|
| 100000378|    Harry|  Manning|  Male| 18|         England|     White Collar| 06.May.15| 311.26|2021-01-01|
+----------+---------+---------+------+---+----------------+-----------------+----------+-------+----------+
only showing top 20 rows

In [184]:
df2=df.sample(False,0.8)

In [185]:
df2.count()

3224

In [223]:
#help(df)

In [54]:
df.select('*').show()

+-----------+---------+---------+------+---+----------------+-----------------+----------+---------+----------+
|Customer ID|     Name|  Surname|Gender|Age|          Region|JobClassification|DateJoined|  Balance|      Date|
+-----------+---------+---------+------+---+----------------+-----------------+----------+---------+----------+
|  100000001|    Simon|    Walsh|  Male| 21|         England|     White Collar| 05.Jan.15|113810.15|2021-01-01|
|  400000002|  Jasmine|   Miller|Female| 34|Northern Ireland|      Blue Collar| 06.Jan.15| 36919.73|2021-01-01|
|  100000003|     Liam|    Brown|  Male| 46|         England|     White Collar| 07.Jan.15|101536.83|2021-01-01|
|  300000004|   Trevor|     Parr|  Male| 32|           Wales|     White Collar| 08.Jan.15|  1421.52|2021-01-01|
|  100000005|  Deirdre|  Pullman|Female| 38|         England|      Blue Collar| 09.Jan.15| 35639.79|2021-01-01|
|  300000006|      Ava|  Coleman|Female| 30|           Wales|      Blue Collar| 09.Jan.15|122443.77|2021-01-01|
|  100000007|  Dorothy|  Thomson|Female| 34|         England|      Blue Collar| 11.Jan.15| 42879.84|2021-01-01|
|  200000008|     Lisa|     Knox|Female| 48|        Scotland|            Other| 11.Jan.15| 36680.17|2021-01-01|
|  300000009|     Ruth| Campbell|Female| 33|           Wales|     White Collar| 11.Jan.15| 74284.35|2021-01-01|
|  100000010|  Dominic|     Parr|  Male| 42|         England|     White Collar| 12.Jan.15| 10912.45|2021-01-01|
|  100000011|  Dominic|    Lewis|  Male| 40|         England|     White Collar| 12.Jan.15| 39667.83|2021-01-01|
|  100000012| Benjamin|    Grant|  Male| 39|         England|     White Collar| 12.Jan.15| 32281.62|2021-01-01|
|  100000013|     Ryan|MacDonald|  Male| 24|         England|     White Collar| 12.Jan.15| 40781.63|2021-01-01|
|  200000014|   Thomas| Lawrence|  Male| 46|        Scotland|            Other| 12.Jan.15| 48791.46|2021-01-01|
|  300000015|Madeleine| Marshall|Female| 36|           Wales|            Other| 12.Jan.15|  2846.03|2021-01-01|
|  100000016| Nicholas|   Newman|  Male| 42|         England|     White Collar| 14.Jan.15|  2116.85|2021-01-01|
|  200000017|    Grace|     Hill|Female| 31|        Scotland|            Other| 14.Jan.15| 10356.31|2021-01-01|
|  200000018| Samantha|  Coleman|Female| 42|        Scotland|            Other| 14.Jan.15|  3801.69|2021-01-01|
|  100000019|  William|     Ince|  Male| 40|         England|      Blue Collar| 15.Jan.15| 65534.69|2021-01-01|
|  100000020|   Audrey|    Jones|Female| 46|         England|      Blue Collar| 15.Jan.15| 11462.64|2021-01-01|
+-----------+---------+---------+------+---+----------------+-----------------+----------+---------+----------+
only showing top 20 rows

In [170]:
from pyspark.sql import functions as f
from pyspark.sql.functions import date_format

In [172]:
df.select(date_format(df.Date,"YYYYMM")).show()

Py4JJavaError: An error occurred while calling o458.showString.
: org.apache.spark.SparkUpgradeException: You may get a different result due to the upgrading of Spark 3.0: Fail to recognize 'YYYYMM' pattern in the DateTimeFormatter. 1) You can set spark.sql.legacy.timeParserPolicy to LEGACY to restore the behavior before Spark 3.0. 2) You can form a valid datetime pattern with the guide from https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$$anonfun$checkLegacyFormatter$1.applyOrElse(DateTimeFormatterHelper.scala:196)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$$anonfun$checkLegacyFormatter$1.applyOrElse(DateTimeFormatterHelper.scala:185)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:38)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.validatePatternString(TimestampFormatter.scala:109)
	at org.apache.spark.sql.catalyst.util.TimestampFormatter$.getFormatter(TimestampFormatter.scala:278)
	at org.apache.spark.sql.catalyst.util.TimestampFormatter$.apply(TimestampFormatter.scala:312)
	at org.apache.spark.sql.catalyst.expressions.DateFormatClass.$anonfun$formatter$1(datetimeExpressions.scala:646)
	at scala.Option.map(Option.scala:230)
	at org.apache.spark.sql.catalyst.expressions.DateFormatClass.formatter$lzycompute(datetimeExpressions.scala:641)
	at org.apache.spark.sql.catalyst.expressions.DateFormatClass.formatter(datetimeExpressions.scala:639)
	at org.apache.spark.sql.catalyst.expressions.DateFormatClass.doGenCode(datetimeExpressions.scala:665)
	at org.apache.spark.sql.catalyst.expressions.Expression.$anonfun$genCode$3(Expression.scala:146)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.catalyst.expressions.Expression.genCode(Expression.scala:141)
	at org.apache.spark.sql.catalyst.expressions.Alias.genCode(namedExpressions.scala:159)
	at org.apache.spark.sql.execution.ProjectExec.$anonfun$doConsume$1(basicPhysicalOperators.scala:66)
	at scala.collection.TraversableLike.$anonfun$map$1(TraversableLike.scala:238)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at scala.collection.TraversableLike.map(TraversableLike.scala:238)
	at scala.collection.TraversableLike.map$(TraversableLike.scala:231)
	at scala.collection.AbstractTraversable.map(Traversable.scala:108)
	at org.apache.spark.sql.execution.ProjectExec.doConsume(basicPhysicalOperators.scala:66)
	at org.apache.spark.sql.execution.CodegenSupport.consume(WholeStageCodegenExec.scala:194)
	at org.apache.spark.sql.execution.CodegenSupport.consume$(WholeStageCodegenExec.scala:149)
	at org.apache.spark.sql.execution.InputAdapter.consume(WholeStageCodegenExec.scala:496)
	at org.apache.spark.sql.execution.InputRDDCodegen.doProduce(WholeStageCodegenExec.scala:483)
	at org.apache.spark.sql.execution.InputRDDCodegen.doProduce$(WholeStageCodegenExec.scala:456)
	at org.apache.spark.sql.execution.InputAdapter.doProduce(WholeStageCodegenExec.scala:496)
	at org.apache.spark.sql.execution.CodegenSupport.$anonfun$produce$1(WholeStageCodegenExec.scala:95)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:213)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:210)
	at org.apache.spark.sql.execution.CodegenSupport.produce(WholeStageCodegenExec.scala:90)
	at org.apache.spark.sql.execution.CodegenSupport.produce$(WholeStageCodegenExec.scala:90)
	at org.apache.spark.sql.execution.InputAdapter.produce(WholeStageCodegenExec.scala:496)
	at org.apache.spark.sql.execution.ProjectExec.doProduce(basicPhysicalOperators.scala:51)
	at org.apache.spark.sql.execution.CodegenSupport.$anonfun$produce$1(WholeStageCodegenExec.scala:95)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:213)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:210)
	at org.apache.spark.sql.execution.CodegenSupport.produce(WholeStageCodegenExec.scala:90)
	at org.apache.spark.sql.execution.CodegenSupport.produce$(WholeStageCodegenExec.scala:90)
	at org.apache.spark.sql.execution.ProjectExec.produce(basicPhysicalOperators.scala:41)
	at org.apache.spark.sql.execution.WholeStageCodegenExec.doCodeGen(WholeStageCodegenExec.scala:632)
	at org.apache.spark.sql.execution.WholeStageCodegenExec.doExecute(WholeStageCodegenExec.scala:692)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:175)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:213)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:210)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:171)
	at org.apache.spark.sql.execution.SparkPlan.getByteArrayRdd(SparkPlan.scala:316)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:434)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:420)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:47)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:3627)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:2697)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3618)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:100)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:160)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:87)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:764)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3616)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2697)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2904)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:300)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:337)
	at sun.reflect.GeneratedMethodAccessor80.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.lang.IllegalArgumentException: All week-based patterns are unsupported since Spark 3.0, detected: Y, Please use the SQL function EXTRACT instead
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$.$anonfun$convertIncompatiblePattern$4(DateTimeFormatterHelper.scala:323)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$.$anonfun$convertIncompatiblePattern$4$adapted(DateTimeFormatterHelper.scala:321)
	at scala.collection.TraversableLike$WithFilter.$anonfun$foreach$1(TraversableLike.scala:877)
	at scala.collection.IndexedSeqOptimized.foreach(IndexedSeqOptimized.scala:36)
	at scala.collection.IndexedSeqOptimized.foreach$(IndexedSeqOptimized.scala:33)
	at scala.collection.immutable.StringOps.foreach(StringOps.scala:33)
	at scala.collection.TraversableLike$WithFilter.foreach(TraversableLike.scala:876)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$.$anonfun$convertIncompatiblePattern$2(DateTimeFormatterHelper.scala:321)
	at scala.collection.TraversableLike.$anonfun$map$1(TraversableLike.scala:238)
	at scala.collection.IndexedSeqOptimized.foreach(IndexedSeqOptimized.scala:36)
	at scala.collection.IndexedSeqOptimized.foreach$(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.ArrayOps$ofRef.foreach(ArrayOps.scala:198)
	at scala.collection.TraversableLike.map(TraversableLike.scala:238)
	at scala.collection.TraversableLike.map$(TraversableLike.scala:231)
	at scala.collection.mutable.ArrayOps$ofRef.map(ArrayOps.scala:198)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$.convertIncompatiblePattern(DateTimeFormatterHelper.scala:318)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper.getOrCreateFormatter(DateTimeFormatterHelper.scala:121)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper.getOrCreateFormatter$(DateTimeFormatterHelper.scala:117)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.getOrCreateFormatter(TimestampFormatter.scala:59)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.formatter$lzycompute(TimestampFormatter.scala:68)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.formatter(TimestampFormatter.scala:67)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.validatePatternString(TimestampFormatter.scala:108)
	... 75 more

In [70]:
df.withColumn('Avg Montly Balance',df.Balance/12).show()  #Adding additional column in the view

+-----------+---------+---------+------+---+----------------+-----------------+----------+---------+----------+------------------+
|Customer ID|     Name|  Surname|Gender|Age|          Region|JobClassification|DateJoined|  Balance|      Date|Avg Montly Balance|
+-----------+---------+---------+------+---+----------------+-----------------+----------+---------+----------+------------------+
|  100000001|    Simon|    Walsh|  Male| 21|         England|     White Collar| 05.Jan.15|113810.15|2021-01-01| 9484.179166666667|
|  400000002|  Jasmine|   Miller|Female| 34|Northern Ireland|      Blue Collar| 06.Jan.15| 36919.73|2021-01-01| 3076.644166666667|
|  100000003|     Liam|    Brown|  Male| 46|         England|     White Collar| 07.Jan.15|101536.83|2021-01-01|         8461.4025|
|  300000004|   Trevor|     Parr|  Male| 32|           Wales|     White Collar| 08.Jan.15|  1421.52|2021-01-01|            118.46|
|  100000005|  Deirdre|  Pullman|Female| 38|         England|      Blue Collar| 09.Jan.15| 35639.79|2021-01-01|         2969.9825|
|  300000006|      Ava|  Coleman|Female| 30|           Wales|      Blue Collar| 09.Jan.15|122443.77|2021-01-01|10203.647500000001|
|  100000007|  Dorothy|  Thomson|Female| 34|         England|      Blue Collar| 11.Jan.15| 42879.84|2021-01-01|3573.3199999999997|
|  200000008|     Lisa|     Knox|Female| 48|        Scotland|            Other| 11.Jan.15| 36680.17|2021-01-01|3056.6808333333333|
|  300000009|     Ruth| Campbell|Female| 33|           Wales|     White Collar| 11.Jan.15| 74284.35|2021-01-01|         6190.3625|
|  100000010|  Dominic|     Parr|  Male| 42|         England|     White Collar| 12.Jan.15| 10912.45|2021-01-01| 909.3708333333334|
|  100000011|  Dominic|    Lewis|  Male| 40|         England|     White Collar| 12.Jan.15| 39667.83|2021-01-01|         3305.6525|
|  100000012| Benjamin|    Grant|  Male| 39|         England|     White Collar| 12.Jan.15| 32281.62|2021-01-01|2690.1349999999998|
|  100000013|     Ryan|MacDonald|  Male| 24|         England|     White Collar| 12.Jan.15| 40781.63|2021-01-01|3398.4691666666663|
|  200000014|   Thomas| Lawrence|  Male| 46|        Scotland|            Other| 12.Jan.15| 48791.46|2021-01-01|          4065.955|
|  300000015|Madeleine| Marshall|Female| 36|           Wales|            Other| 12.Jan.15|  2846.03|2021-01-01|237.16916666666668|
|  100000016| Nicholas|   Newman|  Male| 42|         England|     White Collar| 14.Jan.15|  2116.85|2021-01-01|176.40416666666667|
|  200000017|    Grace|     Hill|Female| 31|        Scotland|            Other| 14.Jan.15| 10356.31|2021-01-01| 863.0258333333333|
|  200000018| Samantha|  Coleman|Female| 42|        Scotland|            Other| 14.Jan.15|  3801.69|2021-01-01|          316.8075|
|  100000019|  William|     Ince|  Male| 40|         England|      Blue Collar| 15.Jan.15| 65534.69|2021-01-01| 5461.224166666667|
|  100000020|   Audrey|    Jones|Female| 46|         England|      Blue Collar| 15.Jan.15| 11462.64|2021-01-01| 955.2199999999999|
+-----------+---------+---------+------+---+----------------+-----------------+----------+---------+----------+------------------+
only showing top 20 rows

In [128]:
df.where(df.Age>50).show()

+-----------+-------+---------+------+---+--------+-----------------+----------+---------+----------+
|Customer ID|   Name|  Surname|Gender|Age|  Region|JobClassification|DateJoined|  Balance|      Date|
+-----------+-------+---------+------+---+--------+-----------------+----------+---------+----------+
|  200000022|  Jason|   Butler|  Male| 58|Scotland|      Blue Collar| 18.Jan.15| 21252.97|2021-01-01|
|  200000024|   Carl|    Quinn|  Male| 52|Scotland|      Blue Collar| 19.Jan.15|  6580.81|2021-01-01|
|  200000026|Richard|   Fraser|  Male| 55|Scotland|      Blue Collar| 21.Jan.15| 43249.26|2021-01-01|
|  200000033|  Grace|  Chapman|Female| 58|Scotland|            Other| 29.Jan.15|  25865.2|2021-01-01|
|  200000040|  Gavin|  Pullman|  Male| 59|Scotland|            Other| 31.Jan.15|114456.23|2021-01-01|
|  100000045|Dorothy| Johnston|Female| 53| England|            Other| 03.Feb.15|  2893.19|2021-01-01|
|  200000068|  Lucas|    Piper|  Male| 61|Scotland|      Blue Collar| 12.Feb.15|  7162.43|2021-01-01|
|  200000069|  Jason|    Sharp|  Male| 53|Scotland|      Blue Collar| 12.Feb.15| 35751.37|2021-01-01|
|  200000072| Angela|  Roberts|Female| 51|Scotland|            Other| 12.Feb.15| 35937.38|2021-01-01|
|  200000100|Carolyn|Robertson|Female| 56|Scotland|            Other| 16.Mar.15| 13251.27|2021-01-01|
|  200000101|Stewart|    Lewis|  Male| 51|Scotland|      Blue Collar| 16.Mar.15|119014.87|2021-01-01|
|  200000103| Nicola|   Powell|Female| 55|Scotland|     White Collar| 16.Mar.15| 35939.04|2021-01-01|
|  200000104|  Diana| McDonald|Female| 57|Scotland|            Other| 16.Mar.15|  22686.0|2021-01-01|
|  200000106|   Ella|     Bond|Female| 54|Scotland|            Other| 16.Mar.15| 44973.03|2021-01-01|
|  200000109|    Joe|  Forsyth|  Male| 63|Scotland|            Other| 16.Mar.15| 73461.71|2021-01-01|
|  200000110|    Tim|    Jones|  Male| 63|Scotland|      Blue Collar| 16.Mar.15| 26474.23|2021-01-01|
|  200000118|   Adam|  McGrath|  Male| 52|Scotland|            Other| 28.Mar.15| 67682.92|2021-01-01|
|  200000140|  Keith|   Harris|  Male| 57|Scotland|      Blue Collar| 02.Apr.15| 40510.36|2021-01-01|
|  200000164| Claire|    Walsh|Female| 59|Scotland|            Other| 05.Apr.15| 67524.87|2021-01-01|
|  200000165|   Paul|   Harris|  Male| 52|Scotland|      Blue Collar| 05.Apr.15|  4371.98|2021-01-01|
+-----------+-------+---------+------+---+--------+-----------------+----------+---------+----------+
only showing top 20 rows

In [148]:
df.where("Name=='Jason' and Surname='Butler'").show()

+-----------+-----+-------+------+---+--------+-----------------+----------+--------+----------+
|Customer ID| Name|Surname|Gender|Age|  Region|JobClassification|DateJoined| Balance|      Date|
+-----------+-----+-------+------+---+--------+-----------------+----------+--------+----------+
|  200000022|Jason| Butler|  Male| 58|Scotland|      Blue Collar| 18.Jan.15|21252.97|2021-01-01|
+-----------+-----+-------+------+---+--------+-----------------+----------+--------+----------+

In [140]:
df.where("Name in ('Jason','Diana')").show()

+-----------+-----+--------+------+---+----------------+-----------------+----------+--------+----------+
|Customer ID| Name| Surname|Gender|Age|          Region|JobClassification|DateJoined| Balance|      Date|
+-----------+-----+--------+------+---+----------------+-----------------+----------+--------+----------+
|  200000022|Jason|  Butler|  Male| 58|        Scotland|      Blue Collar| 18.Jan.15|21252.97|2021-01-01|
|  200000069|Jason|   Sharp|  Male| 53|        Scotland|      Blue Collar| 12.Feb.15|35751.37|2021-01-01|
|  200000104|Diana|McDonald|Female| 57|        Scotland|            Other| 16.Mar.15| 22686.0|2021-01-01|
|  100000161|Diana|  Powell|Female| 42|         England|     White Collar| 05.Apr.15|  2337.0|2021-01-01|
|  200000191|Jason|  Fisher|  Male| 51|        Scotland|      Blue Collar| 08.Apr.15|  1239.6|2021-01-01|
|  300000428|Diana|   Bower|Female| 49|           Wales|     White Collar| 09.May.15|20738.67|2021-01-01|
|  200000504|Jason|   Lyman|  Male| 51|        Scotland|     White Collar| 15.May.15|16320.71|2021-01-01|
|  300000592|Diana|  Martin|Female| 27|           Wales|     White Collar| 19.May.15|98541.75|2021-01-01|
|  200000699|Jason| Cameron|  Male| 60|        Scotland|            Other| 27.May.15| 49081.5|2021-01-01|
|  300000703|Diana|  Hodges|Female| 34|           Wales|     White Collar| 27.May.15|24796.57|2021-01-01|
|  400000769|Jason|  Walker|  Male| 24|Northern Ireland|     White Collar| 31.May.15|78004.29|2021-01-01|
|  200000803|Jason|   Clark|  Male| 49|        Scotland|      Blue Collar| 04.Jun.15|56825.53|2021-01-01|
|  100000825|Jason|   Berry|  Male| 33|         England|            Other| 07.Jun.15|27818.08|2021-01-01|
|  100000875|Jason| MacLeod|  Male| 47|         England|     White Collar| 14.Jun.15|69979.67|2021-01-01|
|  400001022|Jason|   Bower|  Male| 38|Northern Ireland|     White Collar| 28.Jun.15|76999.31|2021-01-01|
|  100001057|Diana|    Ross|Female| 26|         England|            Other| 02.Jul.15|10054.71|2021-01-01|
|  100001397|Jason|   Piper|  Male| 36|         England|     White Collar| 27.Jul.15|23674.84|2021-01-01|
|  100001416|Jason|    Nash|  Male| 44|         England|     White Collar| 28.Jul.15|23330.41|2021-01-01|
|  100001713|Jason|McDonald|  Male| 34|         England|      Blue Collar| 23.Aug.15|21191.18|2021-01-01|
|  300001750|Diana|   Piper|Female| 48|           Wales|     White Collar| 23.Aug.15|36947.59|2021-01-01|
+-----------+-----+--------+------+---+----------------+-----------------+----------+--------+----------+
only showing top 20 rows

In [152]:
df.where(df.Name.isin ('Jason','Diana')).show()

+-----------+-----+--------+------+---+----------------+-----------------+----------+--------+----------+
|Customer ID| Name| Surname|Gender|Age|          Region|JobClassification|DateJoined| Balance|      Date|
+-----------+-----+--------+------+---+----------------+-----------------+----------+--------+----------+
|  200000022|Jason|  Butler|  Male| 58|        Scotland|      Blue Collar| 18.Jan.15|21252.97|2021-01-01|
|  200000069|Jason|   Sharp|  Male| 53|        Scotland|      Blue Collar| 12.Feb.15|35751.37|2021-01-01|
|  200000104|Diana|McDonald|Female| 57|        Scotland|            Other| 16.Mar.15| 22686.0|2021-01-01|
|  100000161|Diana|  Powell|Female| 42|         England|     White Collar| 05.Apr.15|  2337.0|2021-01-01|
|  200000191|Jason|  Fisher|  Male| 51|        Scotland|      Blue Collar| 08.Apr.15|  1239.6|2021-01-01|
|  300000428|Diana|   Bower|Female| 49|           Wales|     White Collar| 09.May.15|20738.67|2021-01-01|
|  200000504|Jason|   Lyman|  Male| 51|        Scotland|     White Collar| 15.May.15|16320.71|2021-01-01|
|  300000592|Diana|  Martin|Female| 27|           Wales|     White Collar| 19.May.15|98541.75|2021-01-01|
|  200000699|Jason| Cameron|  Male| 60|        Scotland|            Other| 27.May.15| 49081.5|2021-01-01|
|  300000703|Diana|  Hodges|Female| 34|           Wales|     White Collar| 27.May.15|24796.57|2021-01-01|
|  400000769|Jason|  Walker|  Male| 24|Northern Ireland|     White Collar| 31.May.15|78004.29|2021-01-01|
|  200000803|Jason|   Clark|  Male| 49|        Scotland|      Blue Collar| 04.Jun.15|56825.53|2021-01-01|
|  100000825|Jason|   Berry|  Male| 33|         England|            Other| 07.Jun.15|27818.08|2021-01-01|
|  100000875|Jason| MacLeod|  Male| 47|         England|     White Collar| 14.Jun.15|69979.67|2021-01-01|
|  400001022|Jason|   Bower|  Male| 38|Northern Ireland|     White Collar| 28.Jun.15|76999.31|2021-01-01|
|  100001057|Diana|    Ross|Female| 26|         England|            Other| 02.Jul.15|10054.71|2021-01-01|
|  100001397|Jason|   Piper|  Male| 36|         England|     White Collar| 27.Jul.15|23674.84|2021-01-01|
|  100001416|Jason|    Nash|  Male| 44|         England|     White Collar| 28.Jul.15|23330.41|2021-01-01|
|  100001713|Jason|McDonald|  Male| 34|         England|      Blue Collar| 23.Aug.15|21191.18|2021-01-01|
|  300001750|Diana|   Piper|Female| 48|           Wales|     White Collar| 23.Aug.15|36947.59|2021-01-01|
+-----------+-----+--------+------+---+----------------+-----------------+----------+--------+----------+
only showing top 20 rows

In [159]:
df.select(df.Name,df.Age.between(30,50)).show()

+---------+-----------------------------+
|     Name|((Age >= 30) AND (Age <= 50))|
+---------+-----------------------------+
|    Simon|                        false|
|  Jasmine|                         true|
|     Liam|                         true|
|   Trevor|                         true|
|  Deirdre|                         true|
|      Ava|                         true|
|  Dorothy|                         true|
|     Lisa|                         true|
|     Ruth|                         true|
|  Dominic|                         true|
|  Dominic|                         true|
| Benjamin|                         true|
|     Ryan|                        false|
|   Thomas|                         true|
|Madeleine|                         true|
| Nicholas|                         true|
|    Grace|                         true|
| Samantha|                         true|
|  William|                         true|
|   Audrey|                         true|
+---------+-----------------------------+
only showing top 20 rows

In [161]:
df.where(df.Age.between(30,50)).show()

+-----------+---------+--------+------+---+----------------+-----------------+----------+---------+----------+
|Customer ID|     Name| Surname|Gender|Age|          Region|JobClassification|DateJoined|  Balance|      Date|
+-----------+---------+--------+------+---+----------------+-----------------+----------+---------+----------+
|  400000002|  Jasmine|  Miller|Female| 34|Northern Ireland|      Blue Collar| 06.Jan.15| 36919.73|2021-01-01|
|  100000003|     Liam|   Brown|  Male| 46|         England|     White Collar| 07.Jan.15|101536.83|2021-01-01|
|  300000004|   Trevor|    Parr|  Male| 32|           Wales|     White Collar| 08.Jan.15|  1421.52|2021-01-01|
|  100000005|  Deirdre| Pullman|Female| 38|         England|      Blue Collar| 09.Jan.15| 35639.79|2021-01-01|
|  300000006|      Ava| Coleman|Female| 30|           Wales|      Blue Collar| 09.Jan.15|122443.77|2021-01-01|
|  100000007|  Dorothy| Thomson|Female| 34|         England|      Blue Collar| 11.Jan.15| 42879.84|2021-01-01|
|  200000008|     Lisa|    Knox|Female| 48|        Scotland|            Other| 11.Jan.15| 36680.17|2021-01-01|
|  300000009|     Ruth|Campbell|Female| 33|           Wales|     White Collar| 11.Jan.15| 74284.35|2021-01-01|
|  100000010|  Dominic|    Parr|  Male| 42|         England|     White Collar| 12.Jan.15| 10912.45|2021-01-01|
|  100000011|  Dominic|   Lewis|  Male| 40|         England|     White Collar| 12.Jan.15| 39667.83|2021-01-01|
|  100000012| Benjamin|   Grant|  Male| 39|         England|     White Collar| 12.Jan.15| 32281.62|2021-01-01|
|  200000014|   Thomas|Lawrence|  Male| 46|        Scotland|            Other| 12.Jan.15| 48791.46|2021-01-01|
|  300000015|Madeleine|Marshall|Female| 36|           Wales|            Other| 12.Jan.15|  2846.03|2021-01-01|
|  100000016| Nicholas|  Newman|  Male| 42|         England|     White Collar| 14.Jan.15|  2116.85|2021-01-01|
|  200000017|    Grace|    Hill|Female| 31|        Scotland|            Other| 14.Jan.15| 10356.31|2021-01-01|
|  200000018| Samantha| Coleman|Female| 42|        Scotland|            Other| 14.Jan.15|  3801.69|2021-01-01|
|  100000019|  William|    Ince|  Male| 40|         England|      Blue Collar| 15.Jan.15| 65534.69|2021-01-01|
|  100000020|   Audrey|   Jones|Female| 46|         England|      Blue Collar| 15.Jan.15| 11462.64|2021-01-01|
|  300000021|    Boris|Johnston|  Male| 37|           Wales|            Other| 16.Jan.15|  31778.9|2021-01-01|
|  300000023|  Deirdre|McDonald|Female| 41|           Wales|     White Collar| 18.Jan.15| 66785.78|2021-01-01|
+-----------+---------+--------+------+---+----------------+-----------------+----------+---------+----------+
only showing top 20 rows

In [162]:
#desc , #isnull , #like

In [169]:
from pyspark.sql.functions import date_format

SyntaxError: keyword can't be an expression (<ipython-input-177-20732a89b686>, line 1)

In [188]:
df.join(df2,df.CustomerID==df2.CustomerID,how='inner').count()

3224

In [189]:
df.join(df2,df.CustomerID==df2.CustomerID,how='outer').count()

4014

In [190]:
df.join(df2,df.CustomerID==df2.CustomerID,how='left').count()

4014

In [191]:
df.join(df2,df.CustomerID==df2.CustomerID,how='right').count()

3224

In [192]:
df.join(df2,df.CustomerID==df2.CustomerID,how='left_semi').count()       #Inner

3224

In [193]:
df.join(df2,df.CustomerID==df2.CustomerID,how='left_anti').count()     #Table1-Table2

790

In [209]:
df.groupBy('Name').max().show()

+---------+---------------+--------+------------+
|     Name|max(CustomerID)|max(Age)|max(Balance)|
+---------+---------------+--------+------------+
| Samantha|      400000706|      63|     86123.0|
|  Carolyn|      400003848|      61|   118676.95|
|      Sue|      400000488|      59|   139784.01|
|    Scott|      100003978|      35|     18055.9|
|    Grace|      400001001|      58|   138086.22|
|    Lucas|      300003104|      61|   105718.04|
|    Keith|      400003743|      61|   112243.76|
|   Alison|      400002618|      64|   143808.39|
|   Andrea|      400000676|      59|   136370.38|
|   Amanda|      400003415|      57|    94722.42|
|     Mary|      300002188|      55|    99806.54|
|    James|      400002075|      56|   120278.47|
|   Trevor|      400000830|      58|    99642.13|
| Benjamin|      300004000|      57|   144209.77|
|    Faith|      300003655|      51|   143879.62|
|    Jason|      400001022|      61|   125213.72|
|   Nathan|      300002689|      57|   126150.99|
|  Natalie|      400002716|      53|    149684.4|
|Christian|      400001297|      59|   115312.87|
| Jennifer|      400002638|      47|   121591.95|
+---------+---------------+--------+------------+
only showing top 20 rows

In [218]:
df.groupBy('Name').avg().show()

+---------+--------------------+------------------+------------------+
|     Name|     avg(CustomerID)|          avg(Age)|      avg(Balance)|
+---------+--------------------+------------------+------------------+
| Samantha|1.5454743677272728E8| 37.54545454545455|23635.302272727276|
|  Carolyn|1.7272910577272728E8| 40.63636363636363| 37982.76136363637|
|      Sue|2.0000236188235295E8|36.294117647058826| 42331.39352941177|
|    Scott|        1.00003978E8|              35.0|           18055.9|
|    Grace|1.4230950792307693E8| 37.73076923076923| 38909.44307692308|
|    Lucas| 1.666684574722222E8|41.638888888888886|33797.195555555554|
|    Keith|1.7931248179310346E8| 39.62068965517241| 38144.08586206898|
|   Alison| 1.777796548888889E8| 36.18518518518518| 43162.58851851852|
|   Andrea| 1.545477055909091E8| 40.40909090909091|58807.494090909095|
|   Amanda|1.8214487214285713E8|             35.25| 41665.08964285714|
|     Mary|     1.50002373875E8|            37.625| 41534.60541666666|
|    James| 2.096791936451613E8| 36.38709677419355| 38974.18451612903|
|   Trevor| 1.821447199642857E8|38.035714285714285| 39813.59642857142|
| Benjamin|       1.653864505E8| 40.15384615384615| 38327.70115384616|
|    Faith|1.2631817315789473E8| 34.31578947368421| 46283.48105263158|
|    Jason| 1.690497620952381E8|40.976190476190474| 46789.52023809523|
|   Nathan| 1.535734857857143E8| 38.92857142857143|40975.657857142854|
|  Natalie| 1.833351857222222E8| 33.94444444444444|46319.833333333336|
|Christian|      1.7200188404E8|             41.88| 42966.45440000002|
| Jennifer|2.2222435755555555E8| 35.22222222222222| 47005.32666666667|
+---------+--------------------+------------------+------------------+
only showing top 20 rows

In [212]:
df.groupBy('Name').agg({'Balance':'sum'}).show()

+---------+------------------+
|     Name|      sum(Balance)|
+---------+------------------+
| Samantha| 519976.6500000001|
|  Carolyn| 835620.7500000001|
|      Sue| 719633.6900000001|
|    Scott|           18055.9|
|    Grace|1011645.5200000001|
|    Lucas|        1216699.04|
|    Keith|1106178.4900000005|
|   Alison|        1165389.89|
|   Andrea|        1293764.87|
|   Amanda|        1166622.51|
|     Mary| 996830.5299999998|
|    James|        1208199.72|
|   Trevor|1114780.6999999997|
| Benjamin| 996520.2300000001|
|    Faith|         879386.14|
|    Jason|1965159.8499999999|
|   Nathan|        1147318.42|
|  Natalie|          833757.0|
|Christian|1074161.3600000003|
| Jennifer|         846095.88|
+---------+------------------+
only showing top 20 rows

In [213]:
df.groupBy('Name').agg({'Age':'max'}).show()

+---------+--------+
|     Name|max(Age)|
+---------+--------+
| Samantha|      63|
|  Carolyn|      61|
|      Sue|      59|
|    Scott|      35|
|    Grace|      58|
|    Lucas|      61|
|    Keith|      61|
|   Alison|      64|
|   Andrea|      59|
|   Amanda|      57|
|     Mary|      55|
|    James|      56|
|   Trevor|      58|
| Benjamin|      57|
|    Faith|      51|
|    Jason|      61|
|   Nathan|      57|
|  Natalie|      53|
|Christian|      59|
| Jennifer|      47|
+---------+--------+
only showing top 20 rows

In [215]:
df.agg({'Balance':'sum'}).show()

+--------------------+
|        sum(Balance)|
+--------------------+
|1.5962252337000012E8|
+--------------------+

In [219]:
df.groupBy('Name').count().show()

+---------+-----+
|     Name|count|
+---------+-----+
| Samantha|   22|
|  Carolyn|   22|
|      Sue|   17|
|    Scott|    1|
|    Grace|   26|
|    Lucas|   36|
|    Keith|   29|
|   Alison|   27|
|   Andrea|   22|
|   Amanda|   28|
|     Mary|   24|
|    James|   31|
|   Trevor|   28|
| Benjamin|   26|
|    Faith|   19|
|    Jason|   42|
|   Nathan|   28|
|  Natalie|   18|
|Christian|   25|
| Jennifer|   18|
+---------+-----+
only showing top 20 rows